* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;   
}
body {
    position:relative; 
    padding-top:80px;
}
a {
    color: #5a40c9;
}

/* header, main nav */
header {
    position:fixed; 
    top:0; 
    left:0; 
    width:100%; 
    background-color: #fff;    
}
header nav {    
    height:80px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    justify-items: center;
    padding: 10px 30px;
    border-bottom: solid 1px #eee;
}
header .logo {    
    font-size: 20px;
    font-weight: bold; 
    letter-spacing: -0.5px;
    color: #5a40c9;       
}
header nav ul {        
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
header nav a {      
    text-decoration: none;  
    font-size: 16px;
    display: block;
    padding: 20px;
    color: #000;    
}
header nav a:hover {
    color: #5a40c9;
}

/* content */
main h2 {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    color: #000;
    padding: 35px;
}
main .content {
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    border: 1px solid #5a40c9;
    border-radius: 5px;
    padding: 25px;
    font-size: 14px;
}