body {
    margin: 0;
    font-family: sans-serif;    
}
a {
    color: #5a40c9;
}

/* header, main nav */
header a {    
    text-decoration: none;
    color: #000;    
}
header nav {
    background-color: #5a40c9;
    margin: 0 auto;
}
header nav ul {
    display: flex;
    justify-content: flex-end;
}
header nav a {    
    font-size: 14px;
    display: block;
    padding: 20px;
    color: #fff;
}
header nav a:hover {
    color: #ccc;
}

/* content */
main h2 {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    color: #5a40c9;
    padding: 35px;
}
main .content {
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    border: 1px solid #5a40c9;
    border-radius: 5px;
    padding: 25px;
    font-size: 14px;
}